@inherits Panel
@attribute [StyleSheet]
@implements IVehicleHud
@namespace Mbk.Vehicles.UI
@using Sandbox.UI;

<root>
    <panel class="tachometer">
        <div class="ii">
            <div><b><span class="number">0</span></b></div>
            <div><b></b></div>
            <div><b><span class="number">1</span></b></div>
            <div><b></b></div>
            <div><b><span class="number">2</span></b></div>
            <div><b></b></div>
            <div><b><span class="number">3</span></b></div>
            <div><b></b></div>
            <div><b><span class="number">4</span></b></div>
            <div><b></b></div>
            <div><b><span class="number">5</span></b></div>
            <div><b></b></div>
            <div><b><span class="number">6</span></b></div>
            <div><b></b></div>
            <div><b><span class="number">7</span></b></div>
            <div><b></b></div>
            <div><b><span class="number">8</span></b></div>
        </div>
        <!--<div id="redline"></div>-->
        <div class="line"></div>
        <div class="pin">
            <div class="inner"></div>
        </div>
    </panel>
</root>

@code {
}
